.container {
  margin: 0 auto;

  &_product_catalog {
    background: #f0f0f0;
  }

  &_section_catalog {
    padding: 35px 7px;
    @media (min-width: 480px) {
      padding: 35px 100px;
    }
  }
}

input {
  position: absolute;
}
.catalog_list_input:not(.catalog_list_input:checked) ~ * {
  opacity: 0.5;
}
.catalog_list_input:checked ~ *:not(img) {
  font-weight: 700;
  @media (min-width: 480px) {
    font-weight: 800;
  }
}

/* section catalog */

.active {
  opacity: 0, 5;
}

.catalog_third_item,
.catalog_third_item ~ li {
  order: 1;
}
.catalog_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -12px;
  margin-bottom: -24px;
  @media (min-width: 480px) {
    margin: 0 -30px;
    margin-bottom: -60px;
  }
  &::after {
    content: "";
    width: 100%;
    order: 0;
    @media (min-width: 480px) {
      content: none;
    }
  }

  & > li {
    cursor: pointer;
    margin: 0 12px;
    margin-bottom: 24px;
    @media (min-width: 480px) {
      margin: 0 30px;
      margin-bottom: 60px;
    }
  }

  & img {
    margin-bottom: 15px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 480px) {
      width: 200px;
    }
  }

  & p {
    text-align: center;
    white-space: nowrap;
    width: 100%;

    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #494a4c;
    @media (min-width: 480px) {
      text-align: left;
    }
  }
}

/* section list */
.container_section_list {
  padding: 40px 0;
  @media (min-width: 480px) {
    padding: 80px 50px;
  }
  @media (min-width: 1024px) {
    padding: 80px 100px;
  }
}

.product_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  @media (min-width: 480px) {
    gap: 80px;
    row-gap: 60px;
  }
}

.product_list li {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 240px;
  @media (min-width: 480px) {
    width: calc((100% - 100px) / 1);
  }
  @media (min-width: 840px) {
    width: calc((100% - 100px) / 2);
  }
  @media (min-width: 1024px) {
    width: calc((100% - 160px) / 3);
  }
}


